<div data-role="footer" data-position="fixed"  data-tap-toggle="false" >
	<div class="row center-xs">
		<div class="col-xs-4">
			<div class="box">
				<a href="#schools" class="ui-btn ui-mini nd2-btn-icon-block"><i class="zmdi zmdi-book"></i><br>
 Magazines</a>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="box">
				<a href="#search" class="ui-btn ui-mini nd2-btn-icon-block"><i class="zmdi zmdi-search"></i><br>
 Search</a>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="box">
				<a href="#map" class="ui-btn ui-mini nd2-btn-icon-block"><i class="zmdi zmdi-pin"></i><br>
 Map</a>
			</div>
		</div>
	</div>
</div>